body {
    background: linear-gradient(to right, #556d4d 50%, #354430 80%);
    }

/***header***/
header nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 100px;
    margin-bottom: 50px;
    padding: 0;
}
header nav ul li a{
    color: #ffffff; 
    font-size: 30px;
    text-decoration: none;
    line-height: 100px;
    position: relative;
}
header nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:   #2a3626;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
header nav ul li a:hover::after{
    width:100%
}
.logo{
    height: 100px;
}

/***content***/
/*welcome section*/
.welcome{
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url(/images/img1.png);
    background-size: cover;
    padding: 150px;
    font-size: 50px;
    color: #dee05e;
    text-shadow: 5px 10px 3px #000000;
}
/*about section*/
.about{
    background-color: #2a3626;;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.about img{
    width: 50%;
    border-radius: 20px;
}
.aboutmaintitle{
    color: #ffffff;
    font-size: 30px;
}