body {
    background: linear-gradient(to right, #556d4d 30%, #354430 70%);
}

/***header***/
header nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 7vw;
    margin-bottom: 5vw;
    padding: 0;
}
header nav ul li a{
    color: #ffffff; 
    font-size: 2vw;
    text-decoration: none;
    line-height: 5vw;
    position: relative;
}
header nav ul li a::after{
    content: '';
    width: 0;
    height: 0.5vw;
    background: #2a3626;
    position: absolute;
    left: 0;
    bottom: -0.5vw;
    transition: 0.5s;
}
header nav ul li a:hover::after{
    width: 100%
}
.logo{
    height: 8vw;
    width: 20vw;
}

/***content***/
/*welcome section*/
.welcome{
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url(img1.png);
    background-size: cover;
    padding: 10vw;
    font-size: 3vw; 
    color: #dee05e;
    text-shadow: 0.5vw 1vw 0.3vw #000000;
}

/*about section*/
.about{
    background-color: #2a3626;
    padding: 3vw;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}
.about img{
    width: 30%;
    border-radius: 1.5vw;
}
.aboutmaintitle{
    font-size: 1.5vw;
}
.aboutmaintitle h2{
    color: #ffffff;
}
.aboutmaintitle p{
    color: #dee05e;
}
.aboutsubtitle{
    display: flex;
    color: #ffffff;
    gap: 3vw;
}
.subtitle{
    margin-right: 1vw;
    font-size: 1.5vw;
    font-weight: 200;
    cursor: pointer;
    position: relative;
}
.subtitle::after{
    content: '';
    width: 0;
    height: 0.5vw;
    background: #dee05e;
    position: absolute;
    left: 0;
    bottom: -0.5vw;
    transition: 0.5s;
}
.subtitle.activetitle::after{
    width: 50%;
}
.subtitlecontent ul li{
    list-style: none;
    margin: 1.5vw;
    font-size: 1.5vw;
    color: #dee05e;
}
.subtitlecontent ul li span{
    color: #ffffff;
    font-size: 1.5vw;
}
.subtitlecontent{
    display: none;
}
.subtitlecontent.activecontent{
    display: block;
}

/*project section*/
.project {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project h2 {
    font-size: 3vw;
    margin-bottom: 5vw;
    color: #dee05e;
    text-shadow: 0.5vw 1vw 0.3vw #000000;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    gap: 4vw;
    max-width: 80vw;
}

.projectcontent {
    background: #2a3626;
    padding: 2vw;
    border-radius: 1vw;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.projectcontent:hover {
    transform: translateY(-0.5vw);
}

.projectcontent img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    border-radius: 1vw;
}

.projectcontent h3 {
    font-size: 2vw;
    margin-top: 1vw;
    color: #91b984;
}

.projectcontent p {
    font-size: 2vw;
    color: #91b984;
}
.projectcontent a{
    text-decoration: none;  
}
.note{
    font-size: 2vw;
    margin-top: 6vw;  
    text-shadow: 0vw 0.2vw 0.2vw #000000;
    color: #dee05e; 
}

/* Contact Section */
.contact {
    text-align: center;
    background-color: #2a3626;
    font-size: 2vw;
    color: #ffffff;
    width: 100vw;
    margin-top: 10vw;
    padding: 3vw;
}

.contact h2 {
    font-size: 2.5vw;
    margin-bottom: 2vw;
    color: #dee05e;
    text-shadow: 0vw 0.4vw 0.2vw #000000;
}

.contact p {
    font-size: 1.5vw;
    margin: 1vw;
}

.social {
    margin-top: 2vw;
}

.social a {
    font-size: 2.5vw;
    color: #dee05e;
    margin: 2vw;
}